.contactList{
    list-style: none;
    padding: 0;
    margin: 0 30px
}
.contactItem{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 30%;
 
}
.btnDelete{
    padding: 0;
    width:20px;
    height: 20px;
}
.labelFilter{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.inputFilter{
    margin: 10px 0;
width: 30%;
}